 h3{
     background-color: aqua;font-family: 'Courier New', Courier, monospace ,;font-size: 4.2em;

color:red;
}
p{
margin: 10%;
    color: white;
    padding: 5%;

 background-image: url('https://thumbs.dreamstime.com/b/spring-flowers-blue-crocuses-drops-water-backgro-background-tracks-rain-113784722.jpg');   
}